<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Careers</title>
    <style>
    h1 {
      font-size: 40px
      font-family: Helvetica;
      font-weight: normal;
      
    }
      
    </style>
  </head>  
  
  </body>
  <h1>Jovian Careers</h1>
  <img src="https://6d81d560-99e2-426b-b471-df2450026f47-00-2xeyrxay6ijsc.spock.replit.dev/static/banner.jpg" width="600" height="320" alt="HTML Dog">
  
  <h2>About Jovian</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur libero ligula, varius vel tincidunt et, cursus non mi. Vivamus a lacus auctor, malesuada purus at, dictum metus. Curabitur tincidunt viverra condimentum. Fusce eget libero et odio ultricies fringilla. Phasellus ut velit et erat mollis blandit. Maecenas eu orci in mi aliquam rhoncus. Etiam non eleifend neque.

  Morbi nec elit convallis, volutpat lectus eu, volutpat mauris. Phasellus tristique varius vulputate. Vivamus sit amet felis dolor. Phasellus efficitur felis id tortor suscipit, et venenatis magna ultrices. Proin non ante convallis, interdum dolor semper, vulputate quam. In fermentum varius purus, sit amet convallis sapien faucibus condimentum. Pellentesque aliquam malesuada dolor, vitae imperdiet justo euismod dignissim. Morbi faucibus quam vel nisi fermentum, at fermentum dui ultrices. Maecenas ante leo, condimentum non lectus vel, bibendum fringilla tellus. Sed a suscipit erat. Fusce in diam nec turpis mattis sodales sagittis at urna. Donec vel dapibus ligula.

  Praesent in velit at nibh eleifend auctor. Nulla sed ultricies turpis. Etiam feugiat magna nec diam fermentum faucibus. Maecenas luctus mi sit amet lectus suscipit, at bibendum dui tristique. Nam euismod aliquet convallis. Curabitur auctor urna quis ante gravida elementum. In lobortis diam vel condimentum ultrices. Nulla blandit facilisis nisi, non interdum quam cursus in.

  Sed sollicitudin tortor vel mauris posuere, et maximus tortor ultricies. Etiam quam velit, tempor at sapien sit amet, mattis porttitor erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce ac aliquam ipsum, vitae bibendum ligula. Proin condimentum vehicula tortor quis ullamcorper. Maecenas fringilla porttitor quam, id ultrices erat suscipit ut. Nulla aliquam sem orci, et ornare turpis elementum ut. Phasellus viverra, ipsum vitae imperdiet tincidunt, ex purus faucibus enim, vitae facilisis augue felis in massa. Sed tellus augue, scelerisque in tortor id, ullamcorper viverra eros. Fusce tristique, nulla a tempor lobortis, metus ipsum ultricies lacus, nec mollis tellus mauris et neque. Duis at ligula id nisl pharetra interdum. Integer sed egestas mi. Phasellus quis quam eget diam viverra vulputate vel venenatis nisi. Vestibulum eu ante a libero facilisis aliquet vel et ex. Sed quis pretium quam, eget facilisis sem.

  Curabitur ut dapibus est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque condimentum consequat nibh, sed scelerisque ex maximus eu. Nam finibus metus in enim dapibus, quis feugiat erat fringilla. Phasellus leo lorem, commodo sit amet blandit non, iaculis a nisi. In hac habitasse platea dictumst. Quisque urna lacus, lacinia at nisl vitae, facilisis pretium diam. Aenean nunc lectus, ullamcorper quis iaculis et, ornare ac massa.</p>
  <h2>Open Positions</h2>
  <p>TO DO - Show the jobs here</p>
  <button>Contact us</button>
  </body>
</html>
